@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "WorkSans";
    src: url("../public/fonts/WorkSans-Regular.ttf");
}
@font-face {
    font-family: "WSans-SemiBold";
    src: url("../public/fonts/WorkSans-SemiBold.ttf");
}
@font-face {
    font-family: "WSans-Medium";
    src: url("../public/fonts/WorkSans-Medium.ttf");
}
@font-face {
    font-family: "WSans-Light";
    src: url("../public/fonts/WorkSans-Light.ttf");
}

body {
    font-family: 'WorkSans'
}